h1 {
  color: red;
  font-style: italic;
  text-align: center;
  font-size: 60px;
}

body {
  text-align: center;
  background-color: #34495E;

}


h2 {
  color: gray;
  font-style: bold;
}

h3 {
  color:gray;
}
p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
